.html,
body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    width: 100%;
    height: 50px;
    background-color: #ffffff;
    box-shadow: 0 4px 2px -2px gray;
    position: fixed;
    top: 0;
    z-index: 10;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 1rem;
    width: 96%;
    white-space: nowrap;
}

.navbar-logo {
    height: 49px;
    max-width: 228px;
}

.navbar-logo img {
    max-width: 100%;
    max-height: 100%;
}

.navbar-search {
    margin: 0px auto;
    width: 30vw;
}

.navbar-searchbar {
    height: 1.7rem;
    border-radius: 4px;
    background-color: #fff;
    width: 100%;
    font-size: 0.9rem;
}

.navbar-searchbar::placeholder {
    color: #9a93ac;
}

.navbar-search-icon {
    position: absolute;
    color: grey;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 10px;
}

.navbar-search button {
    height: 32px;
    width: auto;
    border: none;
}

.navbar-search button:hover {
    border: 1px solid #0099cc;
    background-color: #00aacc;
    color: #ffffff;
    padding: 5px 10px;
    cursor: pointer;
}

.navbar-search button:active {
    background-color: pink;
}

.navbar-notification {
    height: 50px;
    margin-left: 50px;
}

.navbar-notification button {
    height: 50px;
    width: 50px;
    font-size: 20px;
    border: none;
    background-color: white;
}

.navbar-notification button:hover {
    border: 1px solid #0099cc;
    background-color: #00aacc;
    color: #ffffff;
    cursor: pointer;
}

.navbar-notification button:active {
    background-color: pink;
}

.navbar-menu {
    height: 50px;
}

.navbar-menu button {
    height: 50px;
    font-size: 20px;
    border: none;
    background-color: white;
}

.navbar-menu button:hover {
    background-color: #00aacc;
    color: #ffffff;
    cursor: pointer;
}

.navbar-menu button:active {
    background-color: pink;
}

.acc-menu {
    visibility: hidden;
}

.menu-btn-wrp {
    display: flex;
    flex-direction: column;
}

button+.acc-menu:active,
button:focus+.acc-menu {
    visibility: visible;
}

.menu-btn-wrp button {
    background-color: rgb(221, 218, 218);
}

.menu-btn-wrp .logout:hover {
    background-color: red;
    width: 100%;
}

.menu-btn-wrp .menu-btn:active {
    background-color: sienna;
    width: 100%;
}