.side-bar {
    position: fixed;
    background-color: #e7e7e7;
    width: 300px;
    height: 100%;
    margin-top: 1px;
}

.photo {
    background-color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.name {
    width: 139px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }
    50% {
        transform: scale(1);
        box-shadow: 0 0 0 9px rgba(0, 0, 0, 0);
        background-color: black;
    }
    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}

.onair {
    background-color: red;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    transform: scale(1);
    animation: pulse 2.5s infinite;
}

.side-bar>ul {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    height: 70vh;
}

.side-bar>ul>li {
    width: 100%;
}

.side-bar>ul>li>a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    padding: 20px;
    color: black;
}

.side-bar>ul>li>a div {
    display: flex;
    align-items: center;
}

.side-bar>ul>li>a>div>span:last-child {
    margin-left: 9px;
}

.side-bar>ul>li>a:hover {
    background-color: #c7c4c4;
}

.invitation {
    bottom: 0px;
    left: 0;
    height: 100px;
    z-index: 2;
    background-color: #ddcaca;
    width: 70%;
    margin-left: 26px;
    margin-top: 5px;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 8px;
}

.icons {
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.invitation>p {
    text-align: center;
    font-size: 1.5rem;
}

.invitation>p::selection {
    color: white;
    background-color: orange;
}

.icons>a>i {
    font-size: 1.5rem;
    color: rgb(18, 165, 165);
}