.video-bar {
    position: relative;
    min-height: calc(100vh - 72px);
    margin: 51px 0 0 300px;
    width: calc(100vw - 300px);
}

.category {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: scroll;
    display: grid;
    justify-items: stretch;
    align-items: center;
    justify-content: start;
    align-content: center;
    grid-auto-flow: column;
}

.category>li {
    margin: 8px 8px 0;
}

.category li {
    list-style-type: none;
}

.category::-webkit-scrollbar {
    visibility: hidden;
}

.category>li>a {
    padding: 8px;
    display: block;
    height: 15px;
    background-color: #d8d8d8;
    border-radius: 100px;
    border: 0.1rem solid grey;
    white-space: nowrap;
    color: black;
    text-decoration: none;
}

.category>li>a:hover {
    background-color: grey;
    transition: 0.3s;
}

.category>li:first-child>a {
    background-color: #ef9f2a;
}

.category>li:first-child>a:hover {
    background-color: #fd7e14;
}

.stream {
    position: relative;
    width: 100%;
    height: 168px;
}

.livestream {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: red;
    color: white;
    font-size: 1rem;
    padding: 3px;
    border-radius: 3px;
    z-index: 1;
}

.counter {
    position: absolute;
    right: 10px;
    bottom: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 3px;
    z-index: 0;
}

.video__prev {
    width: 100%;
    height: 100%;
}

.stream>a>.fa-paw {
    color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    vertical-align: center;
    font-size: 0;
    line-height: 168px;
}

.stream>a>.fa-paw:hover {
    background-color: rgba(0, 0, 0, 0.4);
    transition: background-color 0.3s;
    font-size: 2em;
    z-index: 1;
}

.streams>div {
    width: 300px;
}

.streamer_photo {
    grid-area: avatar;
    width: 30px;
    background-color: white;
    border-radius: 50%;
    height: 30px;
}

.streamer_name {
    grid-area: author;
    color: #a3a3a3;
    margin: 0;
    padding: 0;
}

.stream_name {
    grid-area: name;
    white-space: nowrap;
    display: block;
    width: 170px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.stream_info {
    width: 100%;
    display: grid;
    grid-template: "avatar name dots" auto "avatar author dots" auto;
    justify-content: space-around;
    padding: 5px 0;
}

.stream_name:hover {
    color: royalblue;
}

.link__dots {
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    padding: 3px;
    border-radius: 50%;
    grid-area: dots;
}

.link__dots:hover {
    background-color: #a3a3a3;
}

.streams>div {
    display: block;
}

.streams {
    margin: 15px 30px 0 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-row-gap: 30px;
    justify-content: space-around;
    padding-bottom: 70px;
}

.footer {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin: 30px 0;
    font-size: 1.3rem;
}

.streams a {
    color: black;
    text-decoration: none;
}

@media (max-width: 1200px) {
    .side-bar {
        width: 61px;
    }
    .side-bar>ul {
        height: calc(100vh - 72px);
    }
    .invitation {
        display: none;
    }
    .side-bar>ul>li>a span {
        display: none;
    }
    .video-bar {
        margin-left: 60px;
        width: calc(100vw - 60px);
    }
}